# Database
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net

# Token
TOKEN_SECRET_KEY=sua_chave_secreta_aqui_minimo_32_caracteres

# Email SMTP
EMAIL=seuemail@gmail.com
EMAIL_PASSWORD=senha_de_app_gerada_pelo_gmail